h2 {
  margin-top: 20px;
}
h3,
p {
  text-align: left;
  padding: 5px;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: separate;
}
table {
  width: 50%;
}
th {
  height: 50px;
  font-size: 25px;
}
td {
  padding: 10px;
  text-align: center;
}
.content {
  height: 150px;
}
